body {
    font-family: sans-serif;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../img/png/title.png");
}

.start-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    padding: 10px;
    z-index: 100;
}

button {
    border-radius: 0;
    border: 1px rgba(0, 0, 0, 0.9) solid;
    background: rgba(235, 235, 235, 0.9);
    padding: 5px 10px;
    font-size: 17px;
    outline: none;
}

button:hover {
    border-radius: 0;
    border: 1px rgba(26, 26, 26, 0.8) solid;
    background: rgba(241, 241, 241, 0.8);
    padding: 5px 10px;
    font-size: 17px;
    outline: none;
}

.start-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
    margin-inline: auto;
}

.center-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 100;
}

.ingame-overlay {
    position: fixed;
    background: #345d37e1;
    border-radius: 100vmax;
    border: 12px solid #e4a52a;
    z-index: 1000;
    display: flex;
    gap: 10px;
    padding: 30px 40px;
    display: none;
    transform: translate(-50%, -50%);
}

.ingame-overlay button {
    padding: 5px;
    width: min-content;
    aspect-ratio: 1 / 1;
    background: rgb(63, 128, 69);
    color: white;
    border: 1px rgb(28, 79, 42) solid;
    border-radius: 3px;
}
.ingame-overlay button:hover {
    background: rgb(68, 143, 75);
    border: 1px rgb(22, 62, 33) solid;
}